.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
.centered-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px auto;
}
.input-width {
    width: 100%;
}

.register-form{
    width: 500px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
.centered-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px auto;
}
.input-width {
    width: 100%;
}

.register-form{
    width: 500px;
}
.custom-style {
    border-radius: 50px;
    background: var(--shade-bg, linear-gradient(323deg, #0F7505 25.5%, #0C2809 79.98%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.border-style {
    border-radius: 50px;
    background: var(--Linear, linear-gradient(180deg, #242424 16.5%, #8A8A8A 75.5%));
    filter:(2px);
}


.font-login {
    color: var(--White, #FFF);
    text-align: center;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--Text-stroke, #848282);
    font-family: "Roboto Serif";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
label[for="email"] {
    color: var(--White, #FFF);
    font-family: "Roboto Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
label[for="password"] {
    color: white;
    color: var(--White, #FFF);
    font-family: "Roboto Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font-text {
    color: var(--White, #FFF);
    font-family: "Roboto Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.smallerfont-text{
    color: var(--White, #FFF);
    font-family: "Roboto Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.smallestfont-text{
    color: var(--White, #FFF);
    font-family: "Roboto Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.login-button {
    border-radius: 25px;
    background: var(--login-button-shade, linear-gradient(90deg, #0F7505 0%, #8BED14 100%));
}

.info-box {
    fill: var(--default, #D9D9D9);
}